**/dist
**/node_modules
**/package-lock.json
**/build
**/Cargo.lock
**/target
**/.venv
# Node.js
**/dist/
**/build/
# Rust
**/target/
# Python
**/.pytest_cache
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
**/.venv/
build_and_test_venv/
pip-log.txt

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db


**/.nyc_output
**/.agents
**/build